body{
    font-family: Arial, sans-serif;
    background-color: rgb(172, 170, 170);
}

h1{
    color: rgb(255, 0, 0);
}

form{
     background-color: rgb(255, 253, 253);
     text-align: center;
     max-width: 350px;
     margin: auto;
     padding: 25px;
     border-radius: 13px;
     box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.5);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 5pc;
    margin-bottom:15px ;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    color: aliceblue;
    background-color: rgb(174, 100, 243);
    font-size: 1.5em;
    border: none;
    padding: 8px 40px;
    border-radius: 8.5px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(128, 0, 248); ;
}

#result{
    font-size: 1.7em;
    font-weight: bold;
}